// New employee link

$add-employee-radius: 25px;

#site-add-employee {
  @include circular($add-employee-radius);

  background: $color-reference-green;
  box-shadow: 1px 1px 1px rgba(darken($color-reference-green, 40%), 0.5);

  display: block;

  position: absolute;
  right: 10px;
  top: 85px;


  &::before {
    content: '+';
    color: white;
    font: {
      size: floor($add-employee-radius * 1.5);
      weight: bold;
    }
    line-height: $add-employee-radius * 2;
    text-align: center;

    display: block;
    width: $add-employee-radius * 2;

    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    @extend %vertically-centered-absolute;

    transition: 0.3s all;

    background: #333;
    opacity: 0;

    color: #fff;
    font-size: 13px;
    white-space: nowrap;

    display: block;
    margin-right: 5px;
    padding: 5px 10px;

    right: 100%;

    &::after {
      border: solid transparent;
      border-color: transparent;
      border-left-color: #333;
      border-width: 5px;

      content: " ";

      margin-top: -5px;
      height: 0;
      width: 0;

      position: absolute;
      left: 100%;
      top: 50%;
    }
  }

  &:hover span {
    opacity: 1;
  }

  &:focus {
    background: darken($color-reference-green, 30%);
    outline: none;
  }
}