#site-header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  position: relative;

  h1 {
    font-size: 2em;
    margin: 0;
  }

}

#site-identity {
  figure {
    display: table-row;
  }

  img {
    border: 1px solid #333;
    display: table-cell;
  }

  figcaption {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
  }

  a {
    display: block;
  }
}