// General typography

body {
  color: $color-text-body;
  font: {
    family: $typography-font-family-body;
    size: $typography-font-size-body;
  }
  line-height: $typography-line-height-body;
}

h1,
h2,
h3 {
  color: $color-text-heading;
	font-family: $typography-font-family-heading;
}

h1 {
  font-size: $typography-font-size-h1;
}

h2 {
  font-size: $typography-font-size-h2;
}

h3 {
  font-size: $typography-font-size-h3;
}