// Generic form styles

@keyframes spinner {
  to {transform: rotate(360deg);}
}


%field-block-part {
  border: none;
  font: {
    family: $typography-font-family-body;
    size: $typography-font-size-body;
  }
  line-height: $typography-line-height-body;

  padding: 10px 15px;
}

.field-block {
  border: 1px solid $color-reference-gray-medium;
  display: table;
  margin: 0 0 15px;
  width: 315px;

  label,
  input,
  select {
    @extend %field-block-part;

    box-sizing: border-box;
    display: table-cell;
  }

  label {
    color: $color-reference-gray-medium;
    font-weight: bold;

    text-align: right;

    width: 150px;
    white-space: nowrap;
  }

  input,
  select {
    background: transparent;
    width: 200px;

    &:focus {
      outline: none;
    }
  }

  &.focused {
    border-color: $color-reference-blue;
    box-shadow: 0 0 5px $color-reference-blue;

    &.invalid {
      box-shadow: 0 0 5px $color-reference-red;
    }

    label {
      color: $color-reference-blue;
    }
  }

  &.invalid {
    border-color: $color-reference-red;

    label {
      color: $color-reference-red;
    }
  }
}

.field-row {
  @extend %clearfix;

  align-items: baseline;
  display: flex;
  flex-wrap: wrap;

  .field-block,
  .field-row-cell {
    margin-right: 10px;
  }
}

.validation-message {
  color: $color-reference-red;
  margin: -10px 0 15px;
  font-weight: bold;
}

.submit {
  @extend %clearfix;

  margin-top: 15px;

  button {
    float: left;
  }
}

// Overrides
.field-autowidth {
  &,
  label {
    width: auto !important;
  }
}

.field-checkable {
  border-color: transparent !important;
  box-shadow: none !important;
  width: auto !important;

  input {
    width: auto !important;
  }
}

fieldset {
  border: 2px solid $color-reference-blue;
  border-left: none;
  border-right: none;

  margin: 1em 0;
  padding: 1em 0;
}

legend {
  color: $color-reference-blue;
  font-weight: bold;

  margin: 0 1em;
  padding: 0 0.5em;
}

button {
  @extend %field-block-part;

  background: $color-reference-blue;
  border: 1px solid $color-reference-blue;
  color: white;

  text-align: center;

  box-sizing: content-box;
  float: left;
  padding: 10px 15px;
  width: 285px;

  position: relative;

  &:hover {
    background: darken($color-reference-blue, 10%);
    border-color: darken($color-reference-blue, 10%);
  }

  &:focus {
    background: $color-reference-yellow;
    border-color: $color-reference-yellow;
    outline: none;
  }

  &.inline {
    width: auto;
  }

  &.button-cancel {
    background: $color-reference-red;
    border-color: $color-reference-red;
    float: right;

    &:hover {
      background: darken($color-reference-red, 10%);
      border-color: darken($color-reference-red, 10%);
    }

    &:focus {
      background: $color-reference-yellow;
      border-color: $color-reference-yellow;
    }
  }

  &.loading:before {
    animation: spinner .6s linear infinite;

    content: '';

    border-radius: 50%;
    border: 1px solid $color-reference-green;
    border-top-color: $color-reference-blue;
    border-right-color: $color-reference-red;
    border-bottom-color: $color-reference-yellow;

    display: inline-block;
    width: 1.3em;
    height: 1.3em;

    position: absolute;
    top: 10px;
    right: 10px;
  }
}