.modal {
  background: rgba(black, 0.5);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.modal-content {
  @extend %vertically-centered-absolute;

  background: white;
  border: 1px solid $color-reference-gray-dark;
  pointer-events: auto;

  box-sizing: border-box;
  max-height: 85%;
  overflow-y: auto;
  padding: 15px;

  left: 50%;
  transform: translate(-50%, -50%);

  & > :first-child {
    margin-top: 0;
  }
}

.modal-blur {
  transition: filter .5s;
  filter: blur(1px);
}