<!doctype html>
<html lang="en" ng-app="headspring.directory">
<head>
	<meta charset="utf-8">
	<title>Employee directory</title>
	<link rel="stylesheet" href="/styles/app.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="AppController as app">
	<header id="site-header" hs-blur-on-modal>
		<h1>Employee directory</h1>

		<nav id="site-navigation">
			<form id="site-search" name="searchForm" ng-submit="false">
				<hs-field-block>
					<label for="q">Search for employee</label>
					<input name="q" id="q" type="search" ng-model="query" ng-model-options="{ debounce: 500 }" ng-change="app.search(query)">
				</hs-field-block>
			</form>

			<a ng-if="app.currentUser.roles.indexOf('hr')" id="site-add-employee" ui-sref="employee.add">
				<span>Add a new employee</span>
			</a>
		</nav>

		<div id="site-identity">
			<figure id="site-identity-user">
				<img src="{{app.currentUser.profile_image || '/images/profile-small.png'}}" height="50" width="50">
				<figcaption>
					{{app.currentUser.full_name || 'Not logged in'}}
					<a ui-sref="login" ng-click="app.logOut()">Log out</a>
				</figcaption>
			</figure>
		</div>
	</header>

	<main>
		<aside id="site-message" ng-class="{ success : app.message.success, error : app.message.error, info : app.message.info }" ng-if="app.message">
			<p>{{app.message.text}}</p>
		</aside>
		<div id="site-main" ng-include="'/components/search/search.html'" hs-blur-on-modal></div>
		<div id="site-modal" ui-view="modal"></div>
	</main>

	<!-- build:js libs/vendor.js -->
	<script src="/libs/angular/angular.min.js"></script>
	<script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- endbuild -->

	<script src="/scripts/app.js"></script>
	<script>
		WebFontConfig = {
			google: { families: [ 'Titillium+Web::latin,latin-ext', 'Open+Sans:400italic,700italic,400,700:latin,latin-ext' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>
</body>