%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%hide-element {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute !important;
}

%vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%vertically-centered-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%no-spacing {
  margin: 0;
  padding: 0;
}