#site-add-employee > span, .modal-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.field-row:after, .submit:after {
  content: "";
  display: table;
  clear: both; }

#component-employee-add .phone-numbers,
#component-employee-edit .phone-numbers, #component-employee-add .phone-numbers .field-row,
#component-employee-edit .phone-numbers .field-row {
  margin: 0;
  padding: 0; }

body {
  color: #333;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4em; }

h1,
h2,
h3 {
  color: #000;
  font-family: "Titillium Web", Verdana, Helvetica, sans-serif; }

h1 {
  font-size: 23px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 15px; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

#site-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
  position: relative; }
  #site-header h1 {
    font-size: 2em;
    margin: 0; }

#site-identity figure {
  display: table-row; }

#site-identity img {
  border: 1px solid #333;
  display: table-cell; }

#site-identity figcaption {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle; }

#site-identity a {
  display: block; }

#site-search {
  margin: 10px 0 -5px; }

#site-add-employee {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background: #87ff5e;
  box-shadow: 1px 1px 1px rgba(37, 145, 0, 0.5);
  display: block;
  position: absolute;
  right: 10px;
  top: 85px; }
  #site-add-employee::before {
    content: '+';
    color: white;
    font-size: 37px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    display: block;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0; }
  #site-add-employee > span {
    -webkit-transition: 0.3s all;
            transition: 0.3s all;
    background: #333;
    opacity: 0;
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
    display: block;
    margin-right: 5px;
    padding: 5px 10px;
    right: 100%; }
    #site-add-employee > span::after {
      border: solid transparent;
      border-color: transparent;
      border-left-color: #333;
      border-width: 5px;
      content: " ";
      margin-top: -5px;
      height: 0;
      width: 0;
      position: absolute;
      left: 100%;
      top: 50%; }
  #site-add-employee:hover span {
    opacity: 1; }
  #site-add-employee:focus {
    background: #32c400;
    outline: none; }

#site-main {
  padding: 10px 20px; }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.field-block label,
.field-block input,
.field-block select, button {
  border: none;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  padding: 10px 15px; }

.field-block {
  border: 1px solid #999;
  display: table;
  margin: 0 0 15px;
  width: 315px; }
  .field-block label,
  .field-block input,
  .field-block select {
    box-sizing: border-box;
    display: table-cell; }
  .field-block label {
    color: #999;
    font-weight: bold;
    text-align: right;
    width: 150px;
    white-space: nowrap; }
  .field-block input,
  .field-block select {
    background: transparent;
    width: 200px; }
    .field-block input:focus,
    .field-block select:focus {
      outline: none; }
  .field-block.focused {
    border-color: #0058ac;
    box-shadow: 0 0 5px #0058ac; }
    .field-block.focused.invalid {
      box-shadow: 0 0 5px #f33; }
    .field-block.focused label {
      color: #0058ac; }
  .field-block.invalid {
    border-color: #f33; }
    .field-block.invalid label {
      color: #f33; }

.field-row {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .field-row .field-block,
  .field-row .field-row-cell {
    margin-right: 10px; }

.validation-message {
  color: #f33;
  margin: -10px 0 15px;
  font-weight: bold; }

.submit {
  margin-top: 15px; }
  .submit button {
    float: left; }

.field-autowidth,
.field-autowidth label {
  width: auto !important; }

.field-checkable {
  border-color: transparent !important;
  box-shadow: none !important;
  width: auto !important; }
  .field-checkable input {
    width: auto !important; }

fieldset {
  border: 2px solid #0058ac;
  border-left: none;
  border-right: none;
  margin: 1em 0;
  padding: 1em 0; }

legend {
  color: #0058ac;
  font-weight: bold;
  margin: 0 1em;
  padding: 0 0.5em; }

button {
  background: #0058ac;
  border: 1px solid #0058ac;
  color: white;
  text-align: center;
  box-sizing: content-box;
  float: left;
  padding: 10px 15px;
  width: 285px;
  position: relative; }
  button:hover {
    background: #003e79;
    border-color: #003e79; }
  button:focus {
    background: #ffcb01;
    border-color: #ffcb01;
    outline: none; }
  button.inline {
    width: auto; }
  button.button-cancel {
    background: #f33;
    border-color: #f33;
    float: right; }
    button.button-cancel:hover {
      background: red;
      border-color: red; }
    button.button-cancel:focus {
      background: #ffcb01;
      border-color: #ffcb01; }
  button.loading:before {
    -webkit-animation: spinner 0.6s linear infinite;
            animation: spinner 0.6s linear infinite;
    content: '';
    border-radius: 50%;
    border: 1px solid #87ff5e;
    border-top-color: #0058ac;
    border-right-color: #f33;
    border-bottom-color: #ffcb01;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    top: 10px;
    right: 10px; }

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999; }

.modal-content {
  background: white;
  border: 1px solid #333;
  pointer-events: auto;
  box-sizing: border-box;
  max-height: 85%;
  overflow-y: auto;
  padding: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .modal-content > :first-child {
    margin-top: 0; }

.modal-blur {
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
          transition: filter 0.5s;
  -webkit-filter: blur(1px);
          filter: blur(1px); }

.search-results {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  margin: 1em 0;
  padding: 0; }
  .search-results li {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 340px;
    margin: 1em;
    padding: 0; }
    .search-results li a {
      background: #acd6ff;
      border: 2px solid #0058ac;
      color: black;
      text-decoration: none;
      display: block;
      padding: 10px 10px; }
      .search-results li a:hover,
      .search-results li a:focus {
        background: #ffea9a;
        border-color: #ffcb01; }
  .search-results article {
    min-height: 102px;
    padding-left: 116px;
    position: relative; }
    .search-results article > :first-child {
      margin-top: 0; }
  .search-results .employee-photo {
    border: 1px solid #333;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .search-results .employee-photo img {
      display: block; }

#component-employee-add,
#component-employee-edit {
  width: 90%;
  margin: 0 auto; }
  #component-employee-add .phone-numbers,
  #component-employee-edit .phone-numbers {
    list-style: none; }
    #component-employee-add .phone-numbers .field-row,
    #component-employee-edit .phone-numbers .field-row {
      border-bottom: 1px dotted #0058ac;
      margin-bottom: 1em; }

#component-employee-details .employee-photo {
  border: 1px solid #333;
  float: left;
  margin: 0 1em 1em 0; }
  #component-employee-details .employee-photo img {
    display: block; }

#component-employee-details .employee-info {
  margin-left: 1em; }
  #component-employee-details .employee-info ul.phone-numbers {
    list-style: none; }
