// Reference colors
$color-reference-blue   : #0058ac;
$color-reference-green  : #87ff5e;
$color-reference-yellow : #ffcb01;
$color-reference-red    : #f33;


// Reference grays
$color-reference-gray-light  : #ddd;
$color-reference-gray-medium : #999;
$color-reference-gray-dark   : #333;


// Text colors
$color-text-body    : $color-reference-gray-dark;
$color-text-heading : #000;