$typography-font-family-body    : "Open Sans", Verdana , Helvetica , sans-serif;
$typography-font-family-heading : "Titillium Web", Verdana , Helvetica , sans-serif;

$typography-font-size-body   : 15px;
$typography-line-height-body : 1.4em;
$typography-font-size-h1     : 23px;
$typography-font-size-h2     : 18px;
$typography-font-size-h3     : 15px;