// Search results

.search-results {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li {
    flex-flow: column;
    width: 340px;
    margin: 1em;
    padding: 0;

    a {
      background: lighten($color-reference-blue, 50%);
      border: 2px solid $color-reference-blue;

      color: black;
      text-decoration: none;

      display: block;
      padding: 10px 10px;

      &:hover,
      &:focus {
        background: lighten($color-reference-yellow, 30%);
        border-color: $color-reference-yellow;
      }
    }
  }

  article {
    min-height: 102px;
    padding-left: 116px;
    position: relative;

    > :first-child {
      margin-top: 0;
    }

  }

  .employee-photo {
    border: 1px solid $color-reference-gray-dark;

    margin: 0;

    position: absolute;
    top: 0;
    left: 0;

    img {
      display: block;
    }
  }
}