<section id="component-search" ng-controller="SearchController as search">

	<div ng-if="search.isLoading">
		<h1>Searching for <em>{{search.query}}</em></h1>
		<p>Loading…</p>
	</div>

	<div ng-if="!search.isLoading">

		<div ng-if="!search.query">
			<h1>Welcome</h1>
			<p>Start typing an employee name, department or job title in the search field.</p>
		</div>

		<div ng-if="search.query">
			<h1>{{search.totalFound || 'No'}} employees found for <em>{{search.query}}</em></h1>

			<p ng-if="!search.totalFound">Sorry, no employees were found matching those search terms.</p>

			<ol class="search-results" ng-if="search.totalFound">
				<li ng-repeat="result in search.results track by result.email">
					<a class="employee-view-link" ui-sref="employee.details({ id : result.employee_id })">
						<article>
							<h2 class="employee-name">{{result.first_names}} {{result.last_name}}</h2>

							<figure class="employee-photo">
								<img height="100" width="100" src="{{result.profile_image}}">
							</figure>

							<div class="job-title">{{result.job_title}}</div>
							<div class="location">{{result.location}}</div>
						</article>
					</a>
				</li>

			</ol>
		</div>

	</div>

</section>