#component-employee-add,
#component-employee-edit {
  width: 90%;
  margin: 0 auto;


  .phone-numbers {
    @extend %no-spacing;
    
    list-style: none;

    .field-row {
      @extend %no-spacing;

      border-bottom: 1px dotted $color-reference-blue;
      margin-bottom: 1em;
    }
  }
}

#component-employee-details {
  .employee-photo {
    border: 1px solid $color-reference-gray-dark;

    float: left;
    margin: 0 1em 1em 0;

    img {
      display: block;
    }
  }

  .employee-info {
    margin-left: 1em;

    ul.phone-numbers {
      list-style: none;
    }
  }
}