<section id="component-employee-details" class="modal-content">
	<h1 class="employee-name">{{emp.employee.first_names}} {{emp.employee.last_name}}</h1>
	<figure class="employee-photo">
		<img src="{{emp.employee.profile_image}}">
	</figure>
	<div class="employee-info">
		<div class="job-title">{{emp.employee.job_title}}</div>
		<div class="location">{{emp.employee.location}}</div>
		<div class="email">{{emp.employee.email}}</div>
		<ul class="phone-numbers">
			<li ng-repeat="phone in emp.employee.phone_numbers track by $index">
				<span class="phone-type">{{phone.type}}</span>
				<span class="phone-number">{{phone.number}}</span>
			</li>
		</ul>
	</div>
	
	<div class="submit">
		<button type="button" ui-sref="employee.edit({ id : emp.employee.employee_id })">Edit</button>
		<button type="button" class="button-cancel" ui-sref="search">Close</button>
	</div>
</section>