<section class="modal-content" id="component-employee-edit">
	<h1 class="employee-name">Edit employee</h1>
	
	<form name="emp.form" method="post" ng-submit="emp.submitIfValid(emp.form) && emp.edit()" novalidate>
		<div class="field-row">
			<hs-field-block>
				<label for="first_names">First names</label>
				<input name="first_names" id="first_names" ng-model="emp.employee.first_names" required>
			</hs-field-block>

			<hs-field-block>
				<label for="last_name">Last name</label>
				<input name="last_name" id="last_name" ng-model="emp.employee.last_name" required>
			</hs-field-block>
		</div>

		<hs-field-block class="employee-job-title">
			<label for="job_title">Job title</label>
			<input name="job_title" id="job_title" ng-model="emp.employee.job_title" required>
		</hs-field-block>

		<hs-field-block class="location">
			<label for="location">Location</label>
			<input name="location" id="location" ng-model="emp.employee.location" required>
		</hs-field-block>

		<hs-field-block class="email">
			<label for="email">Email</label>
			<input name="email" id="email" type="email" ng-model="emp.employee.email" required>
		</hs-field-block>

		<fieldset>
			<legend>Phone numbers</legend>
			<ul class="phone-numbers">
				<li class="field-row" ng-repeat="phone in emp.employee.phone_numbers track by $index">
					<hs-field-block class="phone-type">
						<label for="phone-type-{{$index}}">Number type</label>
						<select name="phone-type-{{$index}}" id="phone-type-{{$index}}" ng-model="phone.type" required>
							<option>Office</option>
							<option>Direct</option>
							<option>Work mobile</option>
							<option>Personal mobile</option>
							<option>Home</option>
							<option>Fax</option>
							<option>Other</option>
						</select>
					</hs-field-block>
					<hs-field-block class="phone-number">
						<label for="phone-number-{{$index}}">Phone number</label>
						<input name="phone-number-{{$index}}" id="phone-number-{{$index}}" ng-model="phone.number" required>
					</hs-field-block>
					<hs-field-block class="phone-is-primary field-checkable field-autowidth">
						<label for="phone-is_primary-{{$index}}">Is primary?</label>
						<input name="phone-is_primary-{{$index}}" id="phone-is_primary-{{$index}}" type="radio" ng-value="true" ng-model="phone.is_primary">
					</hs-field-block>
					<button type="button" class="inline button-cancel" ng-click="emp.removePhoneNumber($index)">Delete</button>
				</li>
			</ul>
			
			<div class="submit">
				<button class="add-number" ng-click="emp.addPhoneNumber()">Add another number</button>
			</div>
		</fieldset>
		
		<div class="submit">
			<button type="submit" ng-class="{ loading : emp.isLoading(emp.form) }">Edit employee</button>
			<button type="button" class="button-cancel" ui-sref="employee.details({ id : emp.employee.employee_id })">Cancel</button>
		</div>
	</form>
</section>