<section id="component-login" class="modal">
	<div class="modal-content">
		<h1>Log in</h1>
		<form name="login.form" method="post" ng-submit="login.submitIfValid(login.form) && login.logIn(user)" novalidate>

			<div class="login-error" ng-show="false">Could not log in with this email address and password.</div>

			<hs-field-block>
				<label for="email">Email</label>
				<input name="email" id="email" type="email" ng-model="user.email" required>
			</hs-field-block>

			<div class="validation-message" ng-show="login.showMessage(login.form, 'email')">Please enter a valid email address.</div>

			<hs-field-block>
				<label for="password">Password</label>
				<input name="password" id="password" type="password" ng-model="user.password" required ng-minlength="8">
			</hs-field-block>
			
			<div class="validation-message" ng-show="login.showMessage(login.form, 'password', 'required')">Please enter your password.</div>
			<div class="validation-message" ng-show="login.showMessage(login.form, 'password', 'minlength')">This password is too short.</div>

			<div class="submit">
				<button ng-class="{ loading : login.isLoading(login.form) }" type="submit">Log in</button>
			</div>
		</form>
	</div>
</section>